# Mac OS X junk
.DS_Store
.fseventsd
.Trashes

# Python bytecode
*.pyc
*.pyo

# Misc dev junk
.svn/
*.swp
*~
*.tmp
*.bak

# Server-local settings, log files, etc
local_settings.py
access.log
error.log
fcgi_stderr.log
fcgi_stdout.log
*.pid
.pid
*.db
*.lock
