.svn/
*.pyc
*.pyo
.DS_Store
*.db
*.swp
*.lock
*~
*.tmp
*.bak
access.log
error.log
*.pid
extra_settings.py
.pid
1-state.xml.bz2
2-county.xml.bz2
3-zipcode-A.xml.bz2
3-zipcode-B.xml.bz2
3-zipcode-C.xml.bz2
3-zipcode-D.xml.bz2
3-zipcode-E.xml.bz2