<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="icon" type="image/vnd.microsoft.icon" href="{{MEDIA_URL}}favicon.ico"/>
<link rel="icon" type="image/png" href="{{MEDIA_URL}}favicon.png"/>
<title>{% block title %}NationBrowse{% endblock %}</title>
{% block extrahead %}{% endblock %}
</head>

<body> 
    {% block body %}
    <p>Nothing to see here, move along.</p>
    {% endblock %}
</body> 
</html>
