{% extends "base.html" %}

{% load graphs humanize safecache %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block extrahead %}
    {% safecache 86400 huge_state_detail_js place.pk request.GET.density %}
	<style type="text/css">
	.smallmap {
    width: 400px;
    height: 400px;
    border: 2px solid #ccc;
	}
	</style>
    {# TODO: OVER 60KB OF EXTERNAL JS. Can we do better? #}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>
	<script src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.2-min.js" type="text/javascript"></script>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{GOOGLE_MAPS_API_KEY}}" type="text/javascript"></script>
    <script src="http://media2.nationbrowse.com/js/OpenLayers.js" type="text/javascript"></script>
    <script type="text/javascript">
        var $j = jQuery.noConflict();
        OpenLayers.IMAGE_RELOAD_ATTEMPTS = 2;
        OpenLayers.Util.onImageLoadErrorColor = "transparent";
        
        // In case OpenLayers doesn't load, define these out here
        // since some functions may call on them on the global namespace (and null
        // is way better than undefined).
        var counties_map = null;
        var wkt_parser = null;
        var sourceProj = null;
        var targetProj = null;
        
        // global var so this can be disabled on certain conditions (like when mousing
        // over the list -- we don't want it to scroll then)
        var list_autoscroll = true;
        
        var wkt_to_vector = function(wkt) {
            // Converts WKT text (in WGS84) to a vector image (in the Google spherical mercator)

            // Punt on empty polygons or other bad data.
        	var tempObj = wkt_parser.read(wkt);
        	if (!tempObj) return null;
        	
        	var tempGeom = tempObj.geometry.clone();
        	tempGeom.transform(sourceProj, targetProj);
        	var obj = wkt_parser.read(tempGeom);
        	return obj
        };
        var cloneObj = function(what) {
            for (i in what) {
                this[i] = what[i];
            }
        };
        
		var init = function(){
        	sourceProj = new OpenLayers.Projection("EPSG:4326");
        	targetProj = new OpenLayers.Projection("EPSG:900913");
            
            /*
            style2.fillColor = '#A6BDDB';
            style3.fillColor = '#74A9CF';
            style4.fillColor = '#3690C0';
            style5.fillColor = '#0570B0';
            style6.fillColor = '#034E7B';
            */
            var default_style = new OpenLayers.Style({
            	strokeColor : '#777777',
            	strokeWidth: 1,
            	strokeOpacity: 0.5,
            	fillColor : '#FFFFFF', // Should be overridden by data styles
            	fillOpacity : 0.7,
            	pointRadius : 3,
            	strokeLinecap: "round"
            });
            var hover_style = new OpenLayers.Style({
            	fillOpacity : 1,
            	strokeWidth: 3,
            	strokeOpacity: 1,
            	strokeColor : '#000000'
            });
            function create_rule_style_array(rule_property,in_arr) {
                // OpenLayers has the most verbose rule definition syntax
                // ever. Add the ability to create quick color-shading rules
                // based on a given attribute.

                // [[0,"#FEE391"],[10000,"FEC44F"],...]
                
                var out_arr = new Array();
                for(var i = 0; i<in_arr.length; i++){
                    out_arr.push(new OpenLayers.Rule({
                        filter: new OpenLayers.Filter.Comparison({
                            type: OpenLayers.Filter.Comparison.GREATER_THAN_OR_EQUAL_TO,
                            property: rule_property,
                            value: in_arr[i][0]
                        }),
                        symbolizer: {
                            fillColor:in_arr[i][1]
                        }
                    }));
                }
                return out_arr;
            };
            
            {% ifequal request.GET.density "1" %}
            default_style.addRules(create_rule_style_array(
                "pop_density", [
                [0,"#FFFFE5"],
                [25,"#FFF7BC"],
                [50,"#FEE391"],
                [100,"#FEC44F"],
                [250,"#FE9929"],
                [500,"#EC7014"],
                [1000,"#CC4C02"],
                [2500,"#993404"],
                [5000,"#662506"]
            ]));
            {% else %}
            default_style.addRules(create_rule_style_array(
                "total_pop", [
                [0,"#FFFFE5"],
                [10000,"#FFF7BC"],
                [50000,"#FEE391"],
                [75000,"#FEC44F"],
                [100000,"#FE9929"],
                [250000,"#EC7014"],
                [500000,"#CC4C02"],
                [1000000,"#993404"],
                [2000000,"#662506"]
            ]));
            {% endifequal %}
            
            var style_map = new OpenLayers.StyleMap({
                "default":default_style,
                "select":hover_style
            });
            
            // Initialize the map object
            counties_map = new OpenLayers.Map('counties_map' , {
                projection: targetProj,
                displayProjection: sourceProj,
                units: "m",
                numZoomLevels: 18,
                maxResolution: 156543.0339,
                maxExtent: new OpenLayers.Bounds(-20037508, -20037508,
                                                 20037508, 20037508.34),
				controls: [
					new OpenLayers.Control.ZoomPanel(),
					new OpenLayers.Control.MouseDefaults(),
					new OpenLayers.Control.LayerSwitcher(),
					new OpenLayers.Control.ScaleLine()
				]
			});
			wkt_parser = new OpenLayers.Format.WKT();
			
            // ===== Map layers =====
            var vectors = new OpenLayers.Layer.Vector("Counties", {
                styleMap: style_map
            });
            var google = new OpenLayers.Layer.Google("Google Terrain", {
                'type': G_PHYSICAL_MAP,
                'displayInLayerSwitcher': false, // don't allow disabling this layer
                'numZoomLevels': 22,
                'sphericalMercator': true
            });

            // Dump counties in via Django template forloop.
            var county_tmp = [];
            {% for c in place.counties %}
            {% ifnotequal c.simple_wkt "POLYGON EMPTY" %}
                county_tmp[{{forloop.counter0}}] = wkt_to_vector('{{c.simple_wkt|escapejs}}');
                county_tmp[{{forloop.counter0}}].attributes = {
                    'total_pop':{{ c.population_demographics.total }},
                    'pop_density':Math.round({{ c.population_demographics.total }}/{{ c.area.sq_mi }})
                };
                county_tmp[{{forloop.counter0}}].data = {
                    'id':{{c.id}},
                    'name':'{{c.long_name|escapejs}}',
                    'url':'{{c.get_absolute_url}}',
                    'total_pop':'{{ c.population_demographics.total|intcomma }}',
                    'male':'{{ c.population_demographics.male|intcomma }}',
                    'female':'{{ c.population_demographics.female|intcomma }}'
                };
                //county_tmp[{{forloop.counter0}}].style = layer_styles[Math.floor(Math.random()*6)];
            {% endifnotequal %}
            {% endfor %}
            
            // Since some of the above items will be null, recreate the array
            // so we have consequtive IDs on the array (because OpenLayers expects
            // 0...n objects and fails on nulls).
            var counties = new Array();
            for(var i = 0; i<county_tmp.length; i++){
                if (county_tmp[i]){
                    counties.push(county_tmp[i]);
                }
            }
            
            // Destroy 'temporary' array
            county_tmp.length = 0;
            county_tmp = null;
            
            vectors.addFeatures(counties);
            counties_map.addLayers([google,vectors]);
            
            // ===== Center the map on the State's center. =====
            var c = new OpenLayers.LonLat({{place.longitude}},{{place.latitude}});
            // Need to reproject the lat/lon into spherical mercator
			counties_map.setCenter(c.transform(sourceProj, targetProj));
			
			// Zoom to the closest zoom that shows every county.
			counties_map.zoomTo(counties_map.getZoomForExtent(vectors.getDataExtent()));

            // ===== Handle mouseover/mouseout/click events =====
        	var hover_control = new OpenLayers.Control.SelectFeature(vectors, {
        		hover:true,
        		onSelect: function(feature) {
        		    // Hover will bold the name of the county in the list
        		    // and also scroll the county's name into the view
                    var label = jQuery('#link_county_'+feature.data.id);
                    label.css('font-weight','bold');
                    label.css('font-size','larger');
                    if (list_autoscroll)
                        jQuery("#counties_list").scrollTo(label);
                    
                    var data_html = '<h2 style="margin:0">'+feature.data.name+"</h2>";
                    data_html += '<table style="margin:0;width:190px">';
                    data_html += "<tr><td><b>Population</b></td><td>"+feature.data.total_pop+"</td></tr>"
                    data_html += "<tr><td><b>Male pop.</b></td><td>"+feature.data.male+"</td></tr>"
                    data_html += "<tr><td><b>Female pop.</b></td><td>"+feature.data.female+"</td></tr>";
                    data_html += '<tr><td colspan="2">&nbsp;</td></tr>';
                    data_html += "<tr><td><b>Pop. density</b></td><td>"+feature.attributes.pop_density+" (per sq. mi.)</td></tr>"

                    data_html += "</table>";
                    jQuery('#counties_data_pane').html(data_html);
                },
        		onUnselect: function(feature) {
        		    // When the mouse leaves the poly, unbold the name in list.
                    var label = jQuery('#link_county_'+feature.data.id);
                    label.css('font-weight','normal');
                    label.css('font-size','medium');
                },
        		callbacks: {
        		    'click': function(feature) {
        		        // On click, destroy the map obj (to prevent browser memory 
        		        // leaks) and redirect to the page for the county.
                		var url = feature.data.url;
                		counties_map.destroy();
                		window.location.href = url;
                		return false;
                	}
        		}
        	});
        	counties_map.addControl(hover_control);
            hover_control.activate();

            // Magics to get the "reverse" hover working:
            // Hover over the label and you get the *poly* highlighted.
            jQuery.each(counties,function(i, obj){
                var label = jQuery('#link_county_'+obj.data.id);
                label.mouseover(function(){
                    // Disable the "scrollTo" hook because we don't want the list
                    // to scroll while we're mousing over the list!
                    list_autoscroll = false;
                    
                    // Externally calls the .overFeature in our hover_control handler (above)
                    hover_control.overFeature(obj);
                });
                label.mouseout(function(){
                    // Same as above, except for the .outFeature method
                    hover_control.outFeature(obj);
                    
                    // Re-enable "scrollTo" hook so the list will autoscroll if
                    // user mouses over the map.
                    list_autoscroll = true;
                });
            });
        }
        window.onload = init;
    </script>
    {% endsafecache %}
{% endblock %}


{% block body %}
    <p><a href="{% url places:random_place %}">Get another random place</a></p>
    <h1>{{ title }}</h1>
{% ifequal request.GET.density "1" %}<p>Shaded by population density. (<a href="{{ request.path }}">View by population size</a>.)</p>
{% else %}<p>Shaded by population size. (<a href="{{ request.path }}?density=1">View by population density</a>.)</p>
{% endifequal %}
{% if place.counties %}
<div style="width:830px;border:1px solid #999">
<div id="counties_map" class="smallmap" style="float:left"></div>
<ul id="counties_list" style="float:left;width:200px;height:400px;margin:0 0 0 5px;padding:0;overflow:auto;list-style-type:none;list-style-position:outside">
{% for county in place.counties %}
<li style="margin:0"><a href="{{ county.get_absolute_url }}" id="link_county_{{county.id}}" onMouseOver="">{{ county.long_name }}</a></li>{% endfor %}
</ul>
<div id="counties_data_pane" style="float:left;width:200px;height:400px;margin:0 0 0 10px;overflow:auto">
</div>
<br style="clear:both"/>
</div>
{% endif %}

{% comment %}
{% if place.zipcodes %}<h2>ZIP Code{{ place.zipcode_set.count|pluralize }}:</h2>
<ul style="width:300px;max-height:150px;overflow-y:auto;-moz-column-count:3;column-count:3">
    {% for zipcode in place.zipcodes %}
    <li><a href="{{ zipcode.get_absolute_url }}">{{ zipcode.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endcomment %}

{# TODO: Note that calculation uses SRID=2163, the National Atlas Equal Area projection. #}
<p>
<b>Total Area:</b> <span title="...Or {{place.area.sq_inch|intword}} square inches.">{{ place.area.sq_mi|floatformat:3|intcomma }} sq. mi. ({{ place.area.sq_km|floatformat:3|intcomma }} sq. km)</span><br />
Geographic data source: <a href="{{ place.poly_source_url }}">{{ place.poly_source }}</a>
</p>

    {% if not demographics %}
        <p>This location has no demographic data.</p>
    {% else %}
        <h2>Demographics</h2>
        <ul>
            <li><b>Total Population:</b> {{ demographics.total|intcomma }}</li>
            <li><b>Male Population:</b> {{ demographics.male|intcomma }}</li>
            <li><b>Female Population:</b> {{ demographics.female|intcomma }}</li>
        </ul>
        <p>Proportion of race (non-mixed descent):</p>
        {% show_graph place_type place.slug race_pie %}
        {% comment %}
        <h2>Demographics</h2>
        <p>Need a better way of outputting this. Need to find a way to output the "descriptive name" of each field without resorting to hard-coding.</p>
        <table><tr><th>Demographic</th><th>Population</tr>
            {% for d,p in demographics.items %}
            <tr><td><b>{{ d }}</b></td><td style="text-align:right">{{ p|intcomma }}</td></tr>
            {% endfor %}
        </table>
        {% endcomment %}

        <p>Demographic data source: <a href="{{ place.population_demographics.source.url }}">{{ place.population_demographics.source }}</a></p>
    {% endif %}
{% endblock %}